#main {
  background: url("/project3/images/bg/bg.png") repeat-x;
}
#main .p_nav {
  height: 55px;
}
#main .p_nav .box {
  width: 1200px;
  height: 55px;
  margin: 0 auto;
  line-height: 55px;
}
#main .p_nav .box .sp3 {
  color: #69646a;
  font-size: 14px;
}
#main .container .box {
  width: 1200px;
  height: 4585px;
  margin: 0 auto;
}
#main .container .box .left {
  width: 250px;
  height: 4585px;
  float: left;
}
#main .container .box .left .title_top {
  width: 250px;
  height: 123px;
  background: white;
}
#main .container .box .left .title_top h5 {
  font-weight: normal;
  text-align: center;
  line-height: 123px;
  font-size: 26px;
  margin: 0;
}
#main .container .box .left .people_look {
  width: 250px;
  height: 618px;
  margin-top: 10px;
  background: white;
}
#main .container .box .left .people_look p {
  height: 40px;
  line-height: 40px;
  display: flex;
  padding: 0 8px;
  justify-content: space-between;
}
#main .container .box .left .people_look p .p_sp1 {
  width: 80px;
  font-size: 16px;
  margin: 0;
}
#main .container .box .left .people_look p .p_sp2 {
  display: block;
  width: 30px;
  font-size: 12px;
  color: #656668;
}
#main .container .box .left .people_look p .p_sp2:hover {
  cursor: pointer;
  text-decoration: underline;
}
#main .container .box .left .people_look .p dt {
  padding: 24px;
}
#main .container .box .left .people_look .p dt img {
  width: 200px;
  height: 200px;
}
#main .container .box .left .people_look .p dd p:nth-child(1) {
  padding: 0 85px;
}
#main .container .box .left .people_look .p dd p:nth-child(1) #s1 {
  cursor: pointer;
  color: #ce0100;
}
#main .container .box .left .people_look .p dd p:nth-child(1) #s1:hover {
  text-decoration: underline;
}
#main .container .box .left .people_look .p dd p:nth-child(1) #s2 {
  cursor: pointer;
  color: #ccc;
  text-decoration: line-through;
}
#main .container .box .left .people_look .p dd p:nth-child(2) {
  padding-left: 90px;
  text-align: center;
  font-size: 18px;
}
#main .container .box .left .product_tuijian {
  width: 250px;
  height: 3835px;
}
#main .container .box .right {
  margin-left: 8px;
  background: white;
  width: 940px;
  height: 4585px;
  float: left;
}
#main .container .box .right .buy {
  width: 940px;
  height: 536px;
}
#main .container .box .right .buy .prod_left {
  float: left;
  width: 394px;
  height: 536px;
}
#main .container .box .right .buy .prod_left .prod_middle_pic {
  width: 350px;
  height: 350px;
  padding-left: 6px;
  overflow: hidden;
}
#main .container .box .right .buy .prod_left .prod_middle_pic img {
  width: 100%;
  height: 100%;
}
#main .container .box .right .buy .prod_left .prod_small_pic {
  width: 388px;
  height: 91px;
  padding: 6px 6px;
  padding-right: 0;
}
#main .container .box .right .buy .prod_left .prod_small_pic ul li {
  float: left;
  width: 88px;
  margin-left: 6px;
  height: 88px;
  border: 2px solid white;
}
#main .container .box .right .buy .prod_left .prod_small_pic ul li img {
  width: 100%;
  height: 100%;
}
#main .container .box .right .buy .prod_left .prod_small_pic ul li:hover {
  border: 2px solid #ccc;
}
#main .container .box .right .buy .prod_left .prod_small_pic ul li:nth-child(1) {
  margin-left: 0;
}
#main .container .box .right .buy .prod_left .prod_big_pic {
  display: none;
}
#main .container .box .right .buy .prod_left .links {
  padding-top: 30px;
  padding-left: 250px;
}
#main .container .box .right .buy .prod_left .links img {
  cursor: pointer;
}
#main .container .box .right .buy .prod_right {
  float: left;
  width: 546px;
  height: 536px;
  position: relative;
}
#main .container .box .right .buy .prod_right .erweima {
  position: absolute;
  top: 119px;
  right: 76px;
  display: none;
  width: 149px;
  height: 149px;
  padding: 10px;
}
#main .container .box .right .buy .prod_right .p1 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
}
#main .container .box .right .buy .prod_right .price0 {
  height: 60px;
  width: 530px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}
#main .container .box .right .buy .prod_right .price0 .price0_left {
  width: 250px;
  height: 60px;
  line-height: 60px;
}
#main .container .box .right .buy .prod_right .price0 .price0_left .price0_sp1 {
  color: #999798;
  padding-left: 15px;
  font-size: 14px;
}
#main .container .box .right .buy .prod_right .price0 .price0_left .price0_sp2 {
  margin-left: 80px;
  color: #e6323b;
  font-size: 28px;
  margin-right: 6px;
}
#main .container .box .right .buy .prod_right .price0 .price0_right {
  width: 169px;
  height: 60px;
  line-height: 60px;
  margin-right: 60px;
}
#main .container .box .right .buy .prod_right .price0 .price0_right:hover {
  cursor: pointer;
}
#main .container .box .right .buy .prod_right .price0 .price0_right p {
  height: 60px;
  line-height: 60px;
  font-size: 14px;
}
#main .container .box .right .buy .prod_right .price0 .price0_right p .sp_phone {
  padding: 12px 15px;
  background: url(/project3/images/sj1.png) no-repeat center;
}
#main .container .box .right .buy .prod_right .price0 .price0_right p .xiala {
  padding: 12px;
  background: url(/project3/images/xjt.png) no-repeat center;
}
#main .container .box .right .buy .prod_right .xiaoliang {
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  color: #999798;
  border-bottom: 1px dashed #ccc;
  border-top: 1px dashed #ccc;
  display: flex;
  justify-content: space-around;
}
#main .container .box .right .buy .prod_right .xiaoliang .p1 {
  font-size: 12px;
}
#main .container .box .right .buy .prod_right .xiaoliang p span {
  padding: 3px;
  color: #e33747;
}
#main .container .box .right .buy .prod_right .chima {
  margin-top: 6px;
  height: 41px;
  padding-left: 15px;
  line-height: 41px;
}
#main .container .box .right .buy .prod_right .chima .s1 {
  color: #999798;
  font-size: 12px;
  margin-right: 55px;
}
#main .container .box .right .buy .prod_right .chima .chima01, #main .container .box .right .buy .prod_right .chima .chima02, #main .container .box .right .buy .prod_right .chima .chima03 {
  padding: 5px;
  border: 2px solid #999798;
  margin-right: 20px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 700;
}
#main .container .box .right .buy .prod_right .color {
  height: 41px;
  line-height: 41px;
  padding-left: 15px;
}
#main .container .box .right .buy .prod_right .color .s1 {
  color: #999798;
  font-size: 12px;
  margin-right: 55px;
}
#main .container .box .right .buy .prod_right .color .color01, #main .container .box .right .buy .prod_right .color .color02, #main .container .box .right .buy .prod_right .color .color03 {
  padding: 5px;
  border: 2px solid #999798;
  margin-right: 20px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 700;
}
#main .container .box .right .buy .prod_right .buy_amount {
  width: 314px;
  height: 72px;
  line-height: 72px;
  display: flex;
  justify-content: space-between;
}
#main .container .box .right .buy .prod_right .buy_amount .buy_amount_left {
  color: #999798;
  height: 72px;
  line-height: 72px;
  font-size: 12px;
  padding-left: 15px;
}
#main .container .box .right .buy .prod_right .buy_amount .buy_amount_middle {
  height: 49px;
  width: 70px;
  margin-top: 12px;
  border: 1px solid #ccc;
}
#main .container .box .right .buy .prod_right .buy_amount .buy_amount_middle .buy_amount_middle_left {
  width: 52px;
  height: 49px;
  float: left;
  text-align: center;
  line-height: 49px;
}
#main .container .box .right .buy .prod_right .buy_amount .buy_amount_middle .buy_amount_middle_right {
  width: 18px;
  height: 47px;
  float: left;
}
#main .container .box .right .buy .prod_right .buy_amount .buy_amount_middle .buy_amount_middle_right .top, #main .container .box .right .buy .prod_right .buy_amount .buy_amount_middle .buy_amount_middle_right .bottom {
  cursor: pointer;
  border: 1px solid #ccc;
  height: 23px;
  line-height: 23px;
  width: 18px;
  border-right: none;
  text-align: center;
}
#main .container .box .right .buy .prod_right .buy_amount .buy_amount_right p {
  margin-right: 10px;
  width: 100px;
  height: 72px;
}
#main .container .box .right .buy .prod_right .buy_amount .buy_amount_right p .prod_price {
  color: #ef3b3e;
}
#main .container .box .right .buy .prod_right .prod_bottom {
  width: 374px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
#main .container .box .right .buy .prod_right .prod_bottom .buyquickly {
  width: 180px;
  height: 42px;
  padding: 5px 10px;
  line-height: 42px;
  text-align: center;
  color: #f80032;
  border: 1px solid #f80032;
  background: #fff9ed;
  cursor: pointer;
}
#main .container .box .right .buy .prod_right .prod_bottom .add_to_cart {
  width: 180px;
  height: 42px;
  line-height: 42px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #fe0036;
  margin-left: 10px;
  color: white;
  cursor: pointer;
  background: #fe0036 url(/project3/images/cart.png) no-repeat 30px center;
}
#main .container .box .right .product_jieshao {
  width: 940px;
  height: 4049px;
}
#main .container .box .right .product_jieshao h4 {
  margin: 0;
  height: 64px;
  font-size: 18px;
  font-weight: normal;
  line-height: 64px;
  padding-left: 20px;
}
#main .container .box .right .product_jieshao .xijie {
  padding-left: 80px;
}
#main .container .box .right .product_jieshao .xijie img {
  cursor: pointer;
}

.zoomContainer {
  width: 350px !important;
}
